body{
  background-image: url("water-and-sky-background-blue.jpg");




}

.header {
  font-size: 36pt;
  font-family: "Cambria";
  color: blue;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 28px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10;

  background-color: #1A0D63;
}

.menu li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 18pt;
}

li a:hover {
  background-color: #3F5042;
}

.dropbtn {
    background-color: #1A0D63;
    color: white;
      padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,100,100,100);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3F5042;
}
